{% extends "layout.html" %}

{% block main %}
<div class="bg-light my-3 p-5 rounded border">
    <h1 class="display-3">Анализатор страниц</h1>
    <p class="lead">Бесплатно проверяйте сайты на SEO-пригодность</p>
    <form class="input-group-lg input-group-prepend control-label d-flex justify-content-center" action="{{ url_for('add_url') }}" method="post">
        <input class="rounded input-group-text form-control form-control-lg text-start bg-white" type="text" required placeholder="https://www.example.com" name="url" value="{{ input_url }}">
        <input class="rounded btn btn-primary btn-lg mx-3" type="submit" value="ПРОВЕРИТЬ">
    </form>
</div>
{% endblock %}
