{% extends "index.html" %}

{% block side_column_size %}col-md-1{% endblock %}
{% block main_column_size %}col-md-10 col-sm-12{% endblock %}

{% block main %}
<div>
    <h1 class="mt-3">Сайт: {{ url }}</h1>
    <table class="table table-bordered">
        <tr>
            <td>ID</td>
            <td>{{ id }}</td>
        </tr>
        <tr>
            <td>Имя</td>
            <td>{{ url }}</td>
        </tr>
        <tr>
            <td>Дата создания</td>
            <td>{{ created_at }}</td>
        </tr>
    </table>
</div>
<div>
    <h2>Проверки</h1>
    <form class="my-2" method="post" action="{{ url_for('conduct_check', id=id) }}">
        <input class="rounded btn btn-primary" type="submit" value="Запустить проверку">
    </form>
    <table class="table table-bordered" data-test="checks">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Код ответа</th>
            <th scope="col">h1</th>
            <th scope="col">title</th>
            <th scope="col">description</th>
            <th scope="col">Дата создания</th>
          </tr>
        </thead>
        {% if checks %}
        <tbody>
            {% for check_id, response_code, h1, title, description, check_created_at in checks %}
            <tr>
                <td>{{ check_id }}</td>
                <td>{{ response_code }}</td>
                <td>{% if h1 %}{{ h1 }}{% endif %}</td>
                <td>{% if title %}{{ title }}{% endif %}</td>
                <td>{% if description %}{{ description }}{% endif %}</td>
                <td>{{ check_created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>
{% endblock %}